{% extends "layout.html" %}
{% block content %}
<div class="container text-center">
 <div class="row">
   <div class="col">
     <div class="card shadow-sm">
       <svg
         class="bd-placeholder-img card-img-top"
         width="100%"
         height="225"
         xmlns="http://www.w3.org/2000/svg"
         role="img"
         aria-label="Placeholder: 예비이미지"
         preserveAspectRatio="xMidYMid slice"
         focusable="false"
       >
         <title>예비이미지</title>
         <rect width="100%" height="100%" fill="#55595c"></rect>
         <text x="50%" y="50%" fill="#eceeef" dy=".3em">예비이미지</text>
       </svg>

       <div class="card-body">
         <p class="card-text">안구질환 진단</p>
         <div class="d-flex justify-content-between align-items-center">
           <button type="button" class="btn btn-sm btn-outline-secondary">
            자세히 보기
           </button>

           <small class="text-muted">9 분전</small>
         </div>
       </div>
     </div>
   </div>


   <div class="col">
     <div class="card shadow-sm">
       <svg
         class="bd-placeholder-img card-img-top"
         width="100%"
         height="225"
         xmlns="http://www.w3.org/2000/svg"
         role="img"
         aria-label="Placeholder: 예비이미지"
         preserveAspectRatio="xMidYMid slice"
         focusable="false"
       >
         <title>예비이미지</title>
         <rect width="100%" height="100%" fill="#55595c"></rect>
         <text x="50%" y="50%" fill="#eceeef" dy=".3em">예비이미지</text>
       </svg>

       <div class="card-body">
         <p class="card-text">건강일지</p>
         <div class="d-flex justify-content-between align-items-center">
           <button type="button" class="btn btn-sm btn-outline-secondary">
            자세히 보기
           </button>

           <small class="text-muted">9 분전</small>
         </div>
       </div>
     </div>
     <div class="col"></div>
   </div>
 </div>
</div>
<div class="container text-center">
 <div class="row">
   <div class="col">
     <div class="card shadow-sm">
       <svg
         class="bd-placeholder-img card-img-top"
         width="100%"
         height="225"
         xmlns="http://www.w3.org/2000/svg"
         role="img"
         aria-label="Placeholder: 예비이미지"
         preserveAspectRatio="xMidYMid slice"
         focusable="false"
       >
         <title>예비이미지</title>
         <rect width="100%" height="100%" fill="#55595c"></rect>
         <text x="50%" y="50%" fill="#eceeef" dy=".3em">예비이미지</text>
       </svg>

       <div class="card-body">
         <p class="card-text">냥박사와 채팅하기</p>
         <div class="d-flex justify-content-between align-items-center">
           <button type="button" class="btn btn-sm btn-outline-secondary">
            자세히 보기
           </button>

           <small class="text-muted">9 분전</small>
         </div>
       </div>
     </div>
   </div>


   <div class="col">
     <div class="card shadow-sm">
       <svg
         class="bd-placeholder-img card-img-top"
         width="100%"
         height="225"
         xmlns="http://www.w3.org/2000/svg"
         role="img"
         aria-label="Placeholder: 예비이미지"
         preserveAspectRatio="xMidYMid slice"
         focusable="false"
       >
         <title>예비이미지</title>
         <rect width="100%" height="100%" fill="#55595c"></rect>
         <text x="50%" y="50%" fill="#eceeef" dy=".3em">예비이미지</text>
       </svg>

       <div class="card-body">
         <p class="card-text">지도</p>
         <div class="d-flex justify-content-between align-items-center">
           <button type="button" class="btn btn-sm btn-outline-secondary">
            자세히 보기
           </button>

           <small class="text-muted">9 분전</small>
         </div>
       </div>
     </div>
     <div class="col"></div>
   </div>
 </div>
</div>
{% endblock %}